--extra-index-url "https://download.pytorch.org/whl/cpu"
optimum-intel==1.27.0
accelerate==1.11.0
datasets
diffusers==0.35.2  # for image generation
einops==0.8.1
nncf==3.0.0
numpy==2.2.6
openvino-tokenizers==2026.0.0
openvino==2026.0.0
#optimum is in dependency list of optimum-intel
pillow==12.1.1
sentence_transformers
sentencepiece
timm==1.0.25
torchvision
torch==2.9.1+cpu
transformers==4.55.4